@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(243, 244, 246);
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-bg: rgb(13, 17, 23);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--main-bg);
  font-family: "Ysabeau", sans-serif !important;
  overflow-x: hidden;
}

.triangle-svg {
  background: url("/images/1.png");
  background-repeat: no-repeat;
  background-position: left center;
}

.triangle-svg-diamond {
  background: url("/images/2.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 75%;
  opacity: 50%;
}

.triangle-svg-diamond-reverse {
  background: url("/images/2.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  opacity: 50%;
}

.triangle-svg-projects {
  position: absolute !important;
  background: url("/images/2.png") !important;
  background-repeat: no-repeat !important;
  background-position: right center !important;
  background-size: 150% !important;
  top: 0 !important;
  left: -20% !important;
  transform: scaleX(-1);
  opacity: 5%;
}

.triangle-svg-projects-sub {
  position: absolute !important;
  background: url("/images/2.png") !important;
  background-repeat: no-repeat !important;
  background-position: right center !important;
  background-size: 100% !important;
  top: 0 !important;
  left: -20% !important;
  transform: scaleX(-1);
  opacity: 5%;
}

.team-svg {
  height: 100%;
  width: 50%;
  opacity: 25%;
  background: url("/images/2.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 200% !important;
  opacity: 50%;
}

.team-svg-sub {
  height: 100%;
  width: 75%;
  opacity: 25%;
  background: url("/images/2.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 300% !important;
  opacity: 15%;
}

.security-svg {
  height: 100%;
  width: 115%;
  opacity: 75%;
  top: -10%;
  z-index: -1;
  content: url("/images/2.png") !important;
  transform: scale(-1);
  /* background: url("/images/2.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 200% !important; */
}

.security-svg-sub {
  /* height: 100%;
  width: 115%;
  opacity: 75%;
  z-index: -1;
  content: url("/images/2.png") !important; */
  /* background: url("/images/2.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 200% !important; */
}

.text-stroke {
  -webkit-text-stroke: 1px rgb(6, 182, 212) !important;
}
